* {
    box-sizing: border-box;
}

body {
    width: 1647px;
    margin: auto 8px;
    font-size: 13px;
    line-height: 1.4;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid rgb(191, 0, 0);
}

.header-right {
    height: 57px;
}

.header-right img {
    height: 47px;
}

.header-left ul {
    list-style: none;
    margin: 0;
}

.header-left ul li {
    height: 20px;
}

/* Container */
#container {
    width: 850px;
    margin: auto;
    text-align: left;
}

#language {
    text-align: end;
    margin: 10px 0 5px 0;
}

#contents h2 {
    background: url(https://grp01.id.rakuten.co.jp/com/img/id//bg_h1.gif) no-repeat;
    padding: 6px 5px 0 25px;
    margin-top: 0;
    margin-bottom: 15px;
}

.step {
    margin: 0 0 15px 135px;
    padding-bottom: 2px;
}

#step1 {
    background: url(https://grp01.id.rakuten.co.jp/com/img/id//bg_step1_btm.gif) no-repeat 0 100%;
}

#step1 ul {
    background: url(https://grp01.id.rakuten.co.jp/com/img/id//bg_step1.gif) no-repeat;
    min-height: 33px;
    list-style: none;
    display: flex;
    align-items: flex-end;
}

#step1 ul li {
    flex-basis: 250px;
}

h3.circle {
    margin: 30px 0 5px;
    padding-left: 18px;
    background: url(https://grp01.id.rakuten.co.jp/com/img/id//icon_circle.gif) no-repeat 0 0.2em;
    font-size: 115%;
}

table {
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
    empty-cells: show;
    font-size: 100%;
}

table.address {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 2px solid #ABABAB;
    border-collapse: separate;
    border-spacing: 0;
}

th {
    width: 200px;
    border-right: 1px solid #ABABAB;
    border-left: 2px solid #ABABAB;
    background: #F5F5F5;
}

th.yel {
    width: 200px;
    border-right: 1px solid #ABABAB;
    border-left: 2px solid #ABABAB;
    background: #FFFFCD;
}

th.head {
    padding: 10px;
    vertical-align: top;
    text-align: left;
    border-top: 2px solid #ABABAB;
}

span.right {
    float: right;
    color: #BF0000;
}

td {
    padding: 10px;
    vertical-align: top;
    text-align: left;
    border-top: 2px solid #ABABAB;
}

td input.text {
    width: 60%;
}

td.end {
    border-right: 2px solid #ABABAB;
}

td ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 0;
}

p.sub {
    margin-bottom: 5px;
    color: #000000;
    text-align: center;
}

p.submit {
    margin-bottom: 20px;
    text-align: center;
}

#rollHead {
    padding: 5px;
    margin-bottom: 0;
    background: #BEBEBE;
    text-align: center;
}

#roll {
    background: #EBEBEB;
}

#roll div {
    height: 400px;
    overflow: auto;
    padding: 15px;
    background: #EBEBE4;
    border: 1px solid #7F9DB9;
}

.tbl {
    border: 2px solid #ABABAB;
    padding: 15px;
}